<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS入门学习</title>
    <script type="text/javascript"  src="static/js/angular.min.js"></script>
</head>
<body ng-controller="myController">
<p><input  type="text" ng-model = "inputValue">请输入内容</p>
<h1>您输入的内容为：{{inputValue}}</h1>

<button ng-click="myClick()">按钮</button>
<h5 ng-if="flag">哈哈哈哈哈哈</h5>

<div ng-controller = "parentCtrl">
    <p><input  type="text" ng-model = "value1">请输入内容</p>
    <h1>您输入的内容为：{{value1}}</h1>
    <div ng-controller = "childCtrl">
        <button ng-click = "gerParentValue()">按钮</button>
    </div>
    <h5>{{value3}}</h5>
</div>
</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("myController", function($scope){
        $scope.inputValue = "呵呵";

        $scope.myClick = function(){
            $scope.flag = !$scope.flag;
        }
    })


    /*子类继承父类的属性，但是父类不能使用子类的*/
    app.controller("parentCtrl", function($scope){
        $scope.value2 = "嘿嘿";
        $scope.value3 = "";
        $scope.gerParentValue = function(){
            $scope.value3 = $scope.value1 + $scope.value2;
        }
    })

    app.controller("childCtrl", function($scope){

    })
</script>
</html>